In [39]:
import pandas as pd
import warnings
from collections import Counter
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" # show several outputs in jupyter cell

In [7]:
whole_comp_db = pd.read_csv('T:\FC\DSI\Company_standardization_1QBit\IDS_Company_Master_Data_w_Ultimate.csv')

In [8]:
whole_comp_db.shape

(427286, 13)

In [13]:
whole_comp_db.columns.values.tolist()

['SCOK_ID',
 'SCOK_NAMEX',
 'SCOK_SCTY_CODE',
 'SCHW_LEGAL_ENTITY_IDENTIFIER',
 'SCOK_BB_COMPANY_IDENT',
 'SCOK_BVDEP_IDENT',
 'SCOK_EH_IDENT',
 'SCOK_AZRE_IDENT',
 'SCOK_PID_IDENT',
 'SCOK_MDY_ISSUER_NUMBER',
 'SCOK_WM3_IDENT',
 'SCOK_COMPANY_CORP_TICKER',
 'ULTIMATE_PARENT_COMPANY_ID']

In [18]:
comp_names = Counter(whole_comp_db.ULTIMATE_PARENT_COMPANY_ID)
comp_names.most_common(10)

[(445, 8008),
 (57, 2434),
 (73539, 1619),
 (3178165, 1485),
 (50322, 1413),
 (3184, 1070),
 (328, 1013),
 (3056090, 922),
 (3204, 883),
 (2272, 832)]

Number of unique values in every column

In [20]:
[(x,whole_comp_db[x].nunique()) for x in whole_comp_db.columns]

[('SCOK_ID', 427286),
 ('SCOK_NAMEX', 427286),
 ('SCOK_SCTY_CODE', 235),
 ('SCHW_LEGAL_ENTITY_IDENTIFIER', 112949),
 ('SCOK_BB_COMPANY_IDENT', 364451),
 ('SCOK_BVDEP_IDENT', 152322),
 ('SCOK_EH_IDENT', 203341),
 ('SCOK_AZRE_IDENT', 5005),
 ('SCOK_PID_IDENT', 23047),
 ('SCOK_MDY_ISSUER_NUMBER', 11796),
 ('SCOK_WM3_IDENT', 43173),
 ('SCOK_COMPANY_CORP_TICKER', 41465),
 ('ULTIMATE_PARENT_COMPANY_ID', 213407)]

In [24]:
counter = Counter(whole_comp_db.SCOK_NAMEX).items()
[item for item, count in counter if count > 1]

[]

## Show technical members
Tech members have non-positive scok_id

In [25]:
whole_comp_db[whole_comp_db.SCOK_ID<1]

,SCOK_ID,SCOK_NAMEX,SCOK_SCTY_CODE,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER,ULTIMATE_PARENT_COMPANY_ID
0,-260,Multiple Guarantors,NaN,NaN,1092302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-260
1,-250,Subsidiaries,NaN,NaN,1092301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-250
2,-230,Privat Person,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-230
3,-210,No adapted scok_id available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-210
4,-200,NO TECS CONNECTION POSSIBLE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-200
5,-140,Multiple Issuers TBA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-140
6,-130,Multiple Issuers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-130
7,-120,Loan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-120
8,-110,Derivative,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-110
9,-100,Swap,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-100
10,-90,FX Forward,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-90
11,-80,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-80
12,-70,Bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-70
13,-60,Mortgage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-60
14,-50,Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-50
15,-40,Share,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-40
16,-30,Account,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-30
17,-20,Cash,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-20
18,-10,Real Estate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-10
19,-4,Delivery System requested for issuer information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4
20,-3,Issuer not available,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3
21,-2,No Standardisation Needed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2
22,-1,Assignment in progress,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1
23,0,TINC new entry translation needed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

## Checking if scok_id column has outliers

In [26]:
whole_comp_db.nlargest(5,'SCOK_ID')

,SCOK_ID,SCOK_NAMEX,SCOK_SCTY_CODE,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER,ULTIMATE_PARENT_COMPANY_ID
427285,39841770,Euler Hermes Colombiae Ltda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
427284,3179313,Marble Point CLO,KY,NaN,60005602.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3179313
427283,3179312,"Graphene Investments SAS, France",FR,NaN,54382005.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3179311
427282,3179311,Graphene Investments SAS,FR,969500C21205HTXQIF21,54381987.0,NaN,NaN,NaN,NaN,NaN,758005.0,NaN,3179311
427281,3179310,East Money HK Ltd,HK,NaN,43715779.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3032842

# Allianz entities
The code for the parent is 445

In [27]:
whole_comp_db[whole_comp_db.ULTIMATE_PARENT_COMPANY_ID==445]

,SCOK_ID,SCOK_NAMEX,SCOK_SCTY_CODE,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER,ULTIMATE_PARENT_COMPANY_ID
163,250,Allianz Lebensversicherungs-AG,DE,529900Z5H1N62JMB3K96,117203.0,DEFEI1000627,5386327.0,DE0028,G12973,600045012,840300.0,NaN,445
167,255,Euler Hermes Deutschland AG,DE,529900G1B8AXELNRG982,151558.0,DEFEI1001886,800385.0,DE0070,NaN,600054988,NaN,NaN,445
240,420,Berner Allgemeine Versicherung AG,CH,NaN,118532.0,NaN,NaN,NaN,NaN,NaN,NaN,BERZN,445
246,440,Allianz Kapitalanlage GmbH,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
247,445,Allianz SE,DE,529900K9B0N5BT694847,115649.0,DEFEI1007380,85383037.0,DE0001,G12972,384000,840400.0,ALVGR,445
...,...,...,...,...,...,...,...,...,...,...,...,...,...
426926,3177955,Controlexpert Holding BV,NL,NaN,69548064.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
427186,3179046,"Allianz Global Investors US LLC, USA",US,NaN,43565031.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
427199,3179061,BN Infrastruktur GmbH,AT,NaN,69548125.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
427206,3179068,Allianz Infrastructure Holding II Pte Ltd,SG,NaN,69548037.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445
427285,39841770,Euler Hermes Colombiae Ltda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445

In [55]:
country_group = whole_comp_db.groupby("SCOK_SCTY_CODE", dropna=False).count()
country_group
%pprint # turning off pretty printing to display long list
country_group.index.values.tolist()
%pprint # turning on pretty printing back

,SCOK_ID,SCOK_NAMEX,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER,ULTIMATE_PARENT_COMPANY_ID
SCOK_SCTY_CODE,,,,,,,,,,,,
5Q,1,1,0,0,0,0,1,0,0,0,0,1
AD,9,9,5,9,5,0,0,0,0,2,5,9
AE,700,700,174,583,214,370,12,31,68,95,205,700
AF,1,1,0,1,0,0,0,0,0,0,1,1
AG,2,2,0,2,1,1,0,0,0,0,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
ZA,1121,1121,200,1021,507,511,18,125,39,121,226,1121
ZM,16,16,7,16,5,8,1,0,0,2,6,16
ZW,23,23,0,21,3,2,0,4,0,0,2,23
ZZ,153,153,0,0,0,0,0,0,0,0,0,153
NaN,1317,1317,3,17,210,367,9,2,75,0,3,1317

Pretty printing has been turned OFF

['5Q', 'AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AN', 'AO', 'AR', 'AS', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BL', 'BM', 'BN', 'BO', 'BQ', 'BR', 'BS', 'BT', 'BV', 'BW', 'BY', 'BZ', 'CA', 'CD', 'CF', 'CG', 'CH', 'CHN', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CS', 'CU', 'CV', 'CW', 'CY', 'CZ', 'DE', 'DJ', 'DK', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG', 'ER', 'ES', 'ET', 'EU', 'FI', 'FJ', 'FK', 'FM', 'FO', 'FR', 'GA', 'GB', 'GD', 'GE', 'GF', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GP', 'GQ', 'GR', 'GT', 'GU', 'GW', 'GY', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'II', 'IL', 'IM', 'IN', 'IO', 'IQ', 'IR', 'IS', 'IT', 'JE', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY', 'MA', 'MC', 'MD', 'ME', 'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MO', 'MP', 'MQ', 'MR', 'MT', 'MU', 'MUL', 'MV', 'MW', 'MX', 'MY', 'MZ', 'NC', 'NE', 'NG', 'NI', 'NL', 'NO', 'NP', 'NZ', 'OM', 'PA', 'PE', 'PF', 'PG', 'PH', 'PK', 'PL', 'PR', 'PS', 'PT', 'PW', 'PY', 'QA', 'RE', 'RO', 'RS', 'RU', 'RW', 'SA', 'SC', 'SD', 'SE', 'SG', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'SS', 'ST', 'SV', 'SY', 'SZ', 'TC', 'TD', 'TG', 'TH', 'TJ', 'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TW', 'TZ', 'U1', 'UA', 'UG', 'UK', 'UM', 'US', 'UY', 'UZ', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WF', 'WS', 'YE', 'YT', 'ZA', 'ZM', 'ZW', 'ZZ', nan]

Pretty printing has been turned ON

In [61]:
parents = whole_comp_db[(whole_comp_db.SCOK_ID>0) & (whole_comp_db.ULTIMATE_PARENT_COMPANY_ID>0)].groupby("ULTIMATE_PARENT_COMPANY_ID", dropna=False).count()
parents[parents.SCOK_ID>100]
parents.columns
parents.groupby("SCOK_ID",as_index=False).count()
#frequencies[frequencies < threshold].index

,SCOK_ID,SCOK_NAMEX,SCOK_SCTY_CODE,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER
ULTIMATE_PARENT_COMPANY_ID,,,,,,,,,,,,
27,212,212,212,107,208,154,176,2,8,11,14,27
29,168,168,168,63,165,131,137,1,10,9,14,15
44,254,254,254,74,212,85,35,1,5,13,18,50
57,2434,2434,2433,1212,2372,159,75,5,3,16,652,85
84,151,151,151,45,148,96,122,1,7,10,10,16
...,...,...,...,...,...,...,...,...,...,...,...,...
3136437,207,207,207,93,207,17,7,1,2,1,51,7
3141342,125,125,125,41,125,58,71,1,6,8,7,15
3154408,110,110,110,22,110,75,87,0,5,0,7,14
3160728,136,136,136,46,136,9,4,0,0,2,35,4
3178165,1485,1485,1485,817,1485,246,78,7,20,17,497,71

Index(['SCOK_ID', 'SCOK_NAMEX', 'SCOK_SCTY_CODE',
       'SCHW_LEGAL_ENTITY_IDENTIFIER', 'SCOK_BB_COMPANY_IDENT',
       'SCOK_BVDEP_IDENT', 'SCOK_EH_IDENT', 'SCOK_AZRE_IDENT',
       'SCOK_PID_IDENT', 'SCOK_MDY_ISSUER_NUMBER', 'SCOK_WM3_IDENT',
       'SCOK_COMPANY_CORP_TICKER'],
      dtype='object')

,SCOK_ID,SCOK_NAMEX,SCOK_SCTY_CODE,SCHW_LEGAL_ENTITY_IDENTIFIER,SCOK_BB_COMPANY_IDENT,SCOK_BVDEP_IDENT,SCOK_EH_IDENT,SCOK_AZRE_IDENT,SCOK_PID_IDENT,SCOK_MDY_ISSUER_NUMBER,SCOK_WM3_IDENT,SCOK_COMPANY_CORP_TICKER
0,1,178262,178262,178262,178262,178262,178262,178262,178262,178262,178262,178262
1,2,17661,17661,17661,17661,17661,17661,17661,17661,17661,17661,17661
2,3,6340,6340,6340,6340,6340,6340,6340,6340,6340,6340,6340
3,4,2809,2809,2809,2809,2809,2809,2809,2809,2809,2809,2809
4,5,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688,1688
...,...,...,...,...,...,...,...,...,...,...,...,...
238,1413,1,1,1,1,1,1,1,1,1,1,1
239,1485,1,1,1,1,1,1,1,1,1,1,1
240,1619,1,1,1,1,1,1,1,1,1,1,1
241,2434,1,1,1,1,1,1,1,1,1,1,1
242,8008,1,1,1,1,1,1,1,1,1,1,1